<%- include("../../patials/header/firstHeader.ejs") %>
<title>SPT | Reset Password</title>
<%- include("../../patials/header/styleHeader.ejs") %>
<%- include("../../patials/header/endHeader.ejs") %>
<%- include("../../patials/header/navHeader.ejs") %>
<section id="Title">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-7 col-sm-8 col-9 text-center">
                        <p class="title">Change Password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-7 col-11 mt-5">
                <div class="formContainer p-4 pb-2">
                    <form action="/user/<%= singleUser._id %>/reset-password" method="POST">
                        <label for="" class="formLabel">Current Password</label>
                        <input type="text" name="oldPassword" required placeholder="" class="formInput">
                        <label for="" class="formLabel mt-3">New Password</label>
                        <input type="text" name="newPassword" required placeholder="" class="formInput">
                        <label for="" class="formLabel mt-3">Re-New Password</label>
                        <input type="text" name="reNewPassword" required placeholder="" class="formInput">
                        
                        <div class="d-flex  mt-3 justify-content-end">
                            <button class="formButton">Save Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
