<%- include("../../patials/header/firstHeader.ejs") %>
<title>SPT | Home Page</title>
<%- include("../../patials/header/styleHeader.ejs") %>
<%- include("../../patials/header/endHeader.ejs") %>
<%- include("../../patials/header/navHeader.ejs") %>
<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>

<style>
    body {
        background-image: url("https://res.cloudinary.com/dxdrfzvvo/image/upload/v1621802503/189090062_322014799328184_9125199710522688755_n_fu5dzj.png?fbclid=IwAR175mZxu-Z4s7NOGywQfNOLhyBtdvuleTU-AsZhXpl8rOad03C8JA11H_c");
        background-position: center;
        background-size: 150% 100%;
    }
</style>

<div class="container covver">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <p class="display-3 " style="margin-top: 3.2em; margin-left: 2em; font-family: 'Anton'">Students Progress Tracker</p>
            
        </div>
    </div>
</div>





<%- include("../../patials/footer/endFooter.ejs") %>
